<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
</head>
<body>
    <h2>Login</h2>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <form method="post" action="{% url 'bazar:logar' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    {% if mensagem_erro %}
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Erro',
                text: '{{ mensagem_erro }}'
            });
        </script>
    {% endif %}
</body>
</html>
